.skin-blue .content-wrapper {
  background-color: white;
  font-family: 'General Sans', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.skin-blue .main-header .logo {
  background-color: #1A213D;
  font-family: 'General Sans', sans-serif;
  text-align: center;
  color: white;
}


.skin-blue .main-header .navbar {
  background-color: #1A213D;
  color: #1A213D;
  text-align: center;
}

.skin-blue .main-sidebar {
  background-color: #DABF9A;
  font-family: 'General Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.skin-blue .sidebar-menu > li > a {
  color: white;
  text-align: center;
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  background-color: #BF9053;
  border-left-color: #1A213D;
  text-align: center;
}

.skin-blue .sidebar-menu > li > a > i {
  margin-right: 5px;
}

h1 {
  color: #BF9053;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 19px;
  font-weight: bold;
}

h2 {
  color: #BF9053;
  font-size: 20px;
}

h3 {
  color: #BF9053;
  font-size: 20px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.my-icon {
  font-size: 26px;
  padding-top: 5px;
  margin-right: 5px;
}

p.italic {
  font-style: italic;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-top: solid #1A213D;
  border-bottom: solid #1A213D;
  text-align: center;
}

.describe {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.describe2 {
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 60px;
  text-align: center;
}

.describe3 {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 200px;
  text-align: center;
}

.separate {
  font-family: 'General Sans', sans-serif;
  border-top: solid #1A213D;
  border-bottom: solid #1A213D;
  text-align: center;
}

.separate2 {
  font-family: 'General Sans', sans-serif;
  border-top: solid #1A213D;
  border-bottom: solid #1A213D;
  padding-bottom: 17px;
  text-align: center;
}

.separate3 {
  font-family: 'General Sans', sans-serif;
  border-top: solid #1A213D;
  padding-bottom: 10px;
  text-align: center;
}

.separate4 {
  font-family: 'General Sans', sans-serif;
  border-top: solid #1A213D;
  padding-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}

.title {
  padding-top: 20px;
  text-align: right;
  font-size: 16px;
  font-style: bold;
}

.upload {
  padding-top: 15px;
}

.button {
  padding-top: 15px;
  text-align: left;
}

.progress-bar {
  background-color: #BF9053;
}

.my-modal-dialog {
  width: 100%;
  height: 80%;
}

#subject_checkboxes {
  padding-left: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: 100%;
}

#class_checkboxes {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 13px;

}

.btn#arrowbutton {
  font-size: 56px;
  font-style: bold;
  color: #BF9053;
  background-color: white;
  border: none;
  height: 60px;
  padding: 0px;
}

.btn#arrowbutton:hover,
.btn#arrowbutton.active
{
  color: #1A213D;
  border: none;
  height: 60px;
  padding: 0px;
}

.center {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.centerLeft {
  text-align: center;
  padding: 10px 0px 0px 3px ;
  margin: 0px;
}

.centerMiddle {
  text-align: center;
  padding: 10px 3px 0px 5px ;
  margin: 0px;
}

.centerRight {
  text-align: center;
  padding: 10px 3px 0px 0px ;
  margin: 0px;
}

.right {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

.right2 {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 0px;
  margin: 0px;
}

.left {
  text-align: left;
  padding: 0px;
  margin: 0px;
}

#class_checkboxes_filter {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 15px;
}

#subject_checkboxes_filter {
  padding-top: 2px;
  font-size: 15px;
}

#all_data {
  font-size: 13px;
}

.form-group {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.semester_label{
  text-align: left;
  line-height: 2.45;
  padding-top: 0px;
  padding-left: 60px;
}

.semester_input {
  text-align: left;
  padding: 0px;
  margin: 0px;
  height: 20px;
  line-height: 0.3;
  padding-top: 0px;
}

.container {
  position: relative;
  height: 550px;
  text-align: center;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn#arrowrightbutton {
  font-size: 56px;
  font-style: bold;
  color: #BF9053;
  background-color: white;
  border: none;
  padding: 0px;
  margin: 0px;
}

.btn#arrowrightbutton:hover,
.btn#arrowrightbutton.active
{
  color: #1A213D;
  border: none;
  padding: 0px;
  margin: 0px;
}

.sorting-disabled {
  padding: 0px;
}

.structure {
  padding-right: 60px;
}
